In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('merge_df.csv')

# Select one country from each continent and drop others

In [3]:
data = data[data['country'] != 'Canada']
data = data[data['country'] != 'Germany']
data = data[data['country'] != 'France']
data = data[data['country'] != 'India']
data = data[data['country'] != 'Korea']
data = data[data['country'] != 'Mexico']
data = data[data['country'] != 'Russia']

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1071601 entries, 0 to 2892151
Data columns (total 20 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   video_id           1071601 non-null  object
 1   title              1071601 non-null  object
 2   publishedAt        1071601 non-null  object
 3   channelId          1071601 non-null  object
 4   channelTitle       1071601 non-null  object
 5   categoryId         1071601 non-null  int64
 6   trending_date      1071601 non-null  object
 7   tags               1071601 non-null  object
 8   view_count         1071601 non-null  int64
 9   likes              1071601 non-null  int64
 10  dislikes           1071601 non-null  int64
 11  commentcount       1071601 non-null  int64
 12  thumbnaillink      1071601 non-null  object
 13  comments_disabled  1071601 non-null  bool
 14  description        1071601 non-null  object
 15  country            1071601 non-null  object
 16  count_max_view     1071601 non-null  int64
 17  Year               1071601 non-null  int64
 18  Month              1071601 non-null  int64
 19  category           1071601 non-null  object
dtypes: bool(1), int64(8), object(11)
memory usage: 164.5+ MB

# Check duplicate rows

In [5]:
duplicate_rows = data.duplicated()
print(data[duplicate_rows])

            video_id                                              title  \
4267     8HCBVVL9ZlA                COMPREI UM PLAYSTATION 5 ‹ EduKof ›
4268     L1H-Qchm1Rk  MONTEI UMA MANSÃO PARA O MEU CACHORRO | O MUND...
4270     y3gW5zXTBUs  LIVE DICAS RODADA 37 | CARTOLA FC 2020: VALE E...
4271     boClaxBox_A                DECIDIMOS O QUARTO DA MARIA ALICE!!
4274     9NLLi-jbpaQ  TEMOS UMA NOVIDADE MUITO IMPORTANTE | ANA HICK...
...              ...                                                ...
2883811  G7-zh7Sebr8  United B777 has ENGINE FAILURE+FIRE on departu...
2887335  oj9y7Okr4Fk       10 Winter Car TIPS & TRICKS you NEED to Know
2887336  jpur5LACSbA  Mclaren Said My 675LT Would NEVER Drive Again....
2887337  9b_Vt5lja00                            Why NOBODY Bought These
2887338  u613yk4RGGw  Driving My Wrecked Mclaren 675LT For The First...

                       publishedAt                 channelId  \
4267     2021-02-20 15:00:02+00:00  UCrGnb5RdHA9M6WGmBGYo4ZQ
4268     2021-02-19 22:30:01+00:00  UCUIXGDcq5BMwTGdavU0V8-g
4270     2021-02-20 15:21:43+00:00  UCJVbvkrBLp7L2pnaqc5CmQQ
4271     2021-02-18 15:00:12+00:00  UCsaB2VrLZrtGbum6Eo0ClbA
4274     2021-02-17 22:53:47+00:00  UCaEDMy0ItPSfPEvJf6wYIxw
...                            ...                       ...
2883811  2021-02-21 00:10:49+00:00  UCuedf_fJVrOppky5gl3U6QQ
2887335  2021-02-20 03:32:29+00:00  UCes1EvRjcKU4sY_UEavndBw
2887336  2021-02-19 17:00:32+00:00  UCvAhDxNNUDhi78tMXVGBUaQ
2887337  2021-02-19 17:00:03+00:00  UCL6JmiMXKoXS6bpP1D3bk8g
2887338  2021-02-17 18:15:02+00:00  UCvAhDxNNUDhi78tMXVGBUaQ

                       channelTitle  categoryId              trending_date  \
4267                         AM3NlC          22  2021-02-24 00:00:00+00:00
4268                  Gui Cavalieri          22  2021-02-24 00:00:00+00:00
4270     Cartoleiros Gazeta do Povo          22  2021-02-24 00:00:00+00:00
4271               Virgínia Fonseca          22  2021-02-24 00:00:00+00:00
4274             Canal Ana Hickmann          22  2021-02-24 00:00:00+00:00
...                             ...         ...                        ...
2883811               VASAviation -          19  2021-02-24 00:00:00+00:00
2887335                    ChrisFix           2  2021-02-24 00:00:00+00:00
2887336                    Tavarish           2  2021-02-24 00:00:00+00:00
2887337                 Donut Media           2  2021-02-24 00:00:00+00:00
2887338                    Tavarish           2  2021-02-24 00:00:00+00:00

                                                      tags  view_count  \
4267     VLOG|Estados|Unidos|EUA|Brasil|Brazil|Breakmen...      490752
4268     #enaldinho|#gui cavalieri|#guilherme|#gui|#irm...      293466
4270     cartola|cartola fc|cartola 2020|dicas cartola ...       58813
4271     vih|virginia|fonseca|virginia fonseca|rezende|...     1157850
4274     ana hickmann|canal ana hickmann|hoje em dia|mo...      494347
...                                                    ...         ...
2883811  REAL|ATC|FUNNY|AIR|TRAFFIC|CONTROL|CONTROLLER|...      725555
2887335  ChrisFix|car hacks|snow car hacks|blizzard car...     1127094
2887336  aston martin|mercedes|amg|hyundai|bmw|lamborgh...      850050
2887337  best cars 2021|car fails|cars that didn't sell...     1427535
2887338  aston martin|mercedes|amg|hyundai|bmw|lamborgh...     1061571

          likes  dislikes  commentcount  \
4267      58542       438           944
4268      31353       336          1610
4270       5562        54            52
4271     142595      1425          2994
4274      47315       304         10212
...         ...       ...           ...
2883811   12175       240          1684
2887335   59204      1346          7136
2887336   45409       370          3265
2887337   52695       942          5150
2887338   41331       817          2337

                                          thumbnaillink  comments_disabled  \
4267     https://i.ytimg.com/vi/8HCBVVL9ZlA/default.jpg              False
4268     https://i.ytimg.com/vi/L1H-Qchm1Rk/default.jpg              False
4270     https://i.ytimg.com/vi/y3gW5zXTBUs/default.jpg              False
4271     https://i.ytimg.com/vi/boClaxBox_A/default.jpg              False
4274     https://i.ytimg.com/vi/9NLLi-jbpaQ/default.jpg              False
...                                                 ...                ...
2883811  https://i.ytimg.com/vi/G7-zh7Sebr8/default.jpg              False
2887335  https://i.ytimg.com/vi/oj9y7Okr4Fk/default.jpg              False
2887336  https://i.ytimg.com/vi/jpur5LACSbA/default.jpg              False
2887337  https://i.ytimg.com/vi/9b_Vt5lja00/default.jpg              False
2887338  https://i.ytimg.com/vi/u613yk4RGGw/default.jpg              False

                                               description country  \
4267     Canal de Games: https://goo.gl/BHD7sB♦ Redes S...  Brazil
4268     E ai meu povo, como é que cês tâo? Vamos para ...  Brazil
4270     FAÇA PARTE DO TIME DE ASSINANTES DO PROFESSOR ...  Brazil
4271     Oiii amigos, agora os videos serão postados TO...  Brazil
4274     Oi, pessoal! Finalmente nós viemos aqui no can...  Brazil
...                                                    ...     ...
2883811  20FEB2021United B772 performing flight UAL328 ...      US
2887335  If you live somewhere that gets snow, this vid...      US
2887336  Find the world's BEST DEALS on cars with AutoT...      US
2887337  Thanks to Dr Squatch for sponsoring today’s ep...      US
2887338  Find the world's BEST DEALS on cars with AutoT...      US

         count_max_view  Year  Month          category
4267             522811  2021      2    People & Blogs
4268             316468  2021      2    People & Blogs
4270              59511  2021      2    People & Blogs
4271            1232336  2021      2    People & Blogs
4274             508900  2021      2    People & Blogs
...                 ...   ...    ...               ...
2883811          815727  2021      2   Travel & Events
2887335         1290917  2021      2  Autos & Vehicles
2887336          917647  2021      2  Autos & Vehicles
2887337         1628421  2021      2  Autos & Vehicles
2887338         1061571  2021      2  Autos & Vehicles

[444 rows x 20 columns]

In [6]:
data = data.drop_duplicates()

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1071157 entries, 0 to 2892151
Data columns (total 20 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   video_id           1071157 non-null  object
 1   title              1071157 non-null  object
 2   publishedAt        1071157 non-null  object
 3   channelId          1071157 non-null  object
 4   channelTitle       1071157 non-null  object
 5   categoryId         1071157 non-null  int64
 6   trending_date      1071157 non-null  object
 7   tags               1071157 non-null  object
 8   view_count         1071157 non-null  int64
 9   likes              1071157 non-null  int64
 10  dislikes           1071157 non-null  int64
 11  commentcount       1071157 non-null  int64
 12  thumbnaillink      1071157 non-null  object
 13  comments_disabled  1071157 non-null  bool
 14  description        1071157 non-null  object
 15  country            1071157 non-null  object
 16  count_max_view     1071157 non-null  int64
 17  Year               1071157 non-null  int64
 18  Month              1071157 non-null  int64
 19  category           1071157 non-null  object
dtypes: bool(1), int64(8), object(11)
memory usage: 164.5+ MB

# Flask

In [19]:
import json
#Dataframe to json
json_objects = data.to_json(orient='records')

In [20]:
json_list = json.loads(json_objects)

In [23]:
#Write all json objects into a text file
output_file_path = 'data.json'
with open(output_file_path, 'w') as json_file:
    json.dump(json_list, json_file, indent=2)

In [24]:
# Read JSON objects from the created file back into a DataFrame
input_file_path = 'data.json'
with open(input_file_path, 'r') as json_file:
    json_data = json.load(json_file)

In [25]:
# Convert the JSON objects to a DataFrame
df = pd.DataFrame(json_data)

In [26]:
len(df)

1071157

In [27]:
from flask import Flask, render_template
app = Flask("Youtube Video in Brazil,Great Britain,Japan,US")

In [28]:
@app.route('/')
def hello_world():
    output = len(df)
    return render_template('index.html', result=output)
    #return output

In [29]:
app.run(host='localhost', port=5001)

 * Serving Flask app 'Youtube Video in Brazil,Great Britain,Japan,US'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://localhost:5001
Press CTRL+C to quit